!memory 1000000
!include addlist.t
!include assign.t
!include atom.t
!include bigmod.t
!include bignum.t
!include binop.t
!include bubble.t
!include curry.t
!include defins.t
!include demorgan.t
!include env.t
!include error.t
!include file.t
!include formers.t
!include func.t
!include gcd.t
!include group.t
!include hash.t
!include infunc.t
!include insert.t
!include io.t
!include iters.t
!include map.t
!include map2.t
!include med2.t
!include median.t
!include mod.t
!include more.t
!include new.t
!include npow.t
!include object.t
!include ops1.t
!include ops2.t
!include opt.t
!include origin.t
!include perms.t
!include posort.t
!include predef.t
!include primeg.t
!include primel.t
!include primes.t
!include printf.t
!include qrec.t
!include qstack.t
!include quant.t
!include queens.t
!include read.t
!include readf.t
!include scan.t
!include slice.t
!include string.t
!include take.t
!include tupget.t
!include watch.t
!include where.t
